.header h1 {
    font-size: 3.3rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 3px 0px #546fe4;
}

.header nav {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.3rem;
}

.header nav ul {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.header nav ul a {
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
    width: 102px;
    text-align: center;
    margin-right: 5px;
    padding: 4px 8px;
}

.header nav ul a:visited {
    text-decoration: none;
    color: var(--color-white);
}

.header nav ul a:hover {
    background: var(--color-black);
}

.header nav ul a.nav_active {
    background: var(--color-1);
}

.header nav ul a.nav_active:hover {
    background: var(--color-black);
}